@model IEnumerable<item_model>

@{
	ViewData["title"] = "CRUD de itens";
}
<div class="text-center">
    <h1 class="display-4">
	    Listagem de Itens 
    </h1>
    <div class="d-grid  gap-2 d-md-flex justify-content-md-start">
        <a role="button" class="btn btn-primary" asp-controller="ItemController1" asp-action="add"> adicionar novo Item</a>
    </div>
    <br /><br />
    <table class="table table-bordered table-striped"style="width : 100%">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nome</th>
                <th scope="col">Quantidade</th>
                <th scope="col">opções</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var obj in Model)
            {
                <tr>
                    <td>
                        @obj.Id_item
                    </td>
                    <td>
                        @obj.Nome
                    </td>
                    <td>
                        @obj.Quantidade
                    </td>
                    <td>
                        <div class="w-75 btn-group" role="group">
                            <a asp-controller="itemController1" asp-action="edit" asp-route-id = "@obj.Id_item" class="btn btn-warning" role="button">editar</a>
                            <a asp-controller="itemController1" asp-action="delete" asp-route-id="@obj.Id_item" class="btn btn-danger" role="button">excluir</a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>